.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container-p {
    padding: 0px 15px;
}

a:link, a:visited, a:active{
    color: #fff;
    text-decoration: none;
}

/*-------INTRO-------*/
body {
    text-transform: uppercase;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url('../img/intro/main-bg.jpg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    padding-top: 35px;
    color: #fff;
    text-align: center;

    position: relative;
}

.intro-header {
    width: 1500px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-header-logo {
    width: 170px;
    height: 40px;
    overflow: hidden;
}

.intro-header-logo img {
    width: 170px;
    height: 40px;
}

.intro-header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-header-list__item a {
    display: block;
    font: 16px "Raleway Bold", sans-serif;

    line-height: 22px;
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: 10px;


}

.intro-header-list__item a:hover {
    border-color: #fff;
}

.intro-main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    width: 970px;
    height: 330px;
}

.intro-main h2 {

    line-height: 28px;
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    font-weight: 700;
}

.intro-main h3 {
    padding: 30px 0px 80px 0px;
    line-height: 22px;
    font-family: "Opensans", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.intro-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-form__input {
    padding: 20px 30px 20px 30px;
    width: 570px;
    height: 60px;

    line-height: 22px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;

    border: none;
    
    border-radius: 10px 0 0 10px;
    color: #848484;
    text-transform: uppercase;
}

.intro-form__button {
    padding-left: 70px;
    padding-right: 40px;


    line-height: 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 700;

    border: none;

    border-radius: 0 10px 10px 0;
    color: #fff;

    background: #e7434e url('../img/intro/find.png') no-repeat 40px;
    text-transform: uppercase;
}

.intro-info-list {
    position: relative;
    top: 620px;


    background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.15);
}

.intro-info-list__item{

    padding: 20px 0px 20px 0px;

    text-transform: none;
}

.intro-info-list__item .number{
    display: block;

    line-height: 22px;
    font-family: "Opensans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.intro-info-list__item .city{
    display: block;
    padding-top: 10px;

    line-height: 22px;
    font-family: "Opensans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #b3b3b3;
}


/*------DESTINATIONS-----*/
.destinations-header {
    text-align: center;
}

.destinations-header h2 {
    line-height: 28px;

    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.destinations-header p {
    padding-top: 25px;

    line-height: 22px;

    font-family: "Opensans", sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-transform: none;
    color: #848484;
}

.destinations-header {
    margin: 180px 0px 90px 0px;
}

.destinations-list {
    overflow: hidden;
    margin-bottom: 70px;
}

.destinations-list__item:nth-child(1) {
    width: 66%;
}

.destinations-list__item {
    float: left;
    height: 360px;

    position: relative;

    width: 33%;
    margin-bottom: 30px;
    padding: 0 15px;

    overflow: hidden;

}


.destinations-list__item img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.hover-block {
    padding: 30px;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 5px;
}

.hover-block .info {
    padding-left: 25px;
}

.likes {
    margin: 0px 0px 0px 25px;
    padding: 10px 15px 10px 45px;


    line-height: 22px;
    font-family: "Opensans", sans-serif;
    font-size: 16px;
    font-weight: 700;

    border: none;

    border-radius: 5px;
    color: #fff;

    background: #e7434e url('../img/intro/find.png') no-repeat 17px 11px;
    text-transform: uppercase;
}

.hover-block h3 {

    line-height: 22px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 400;

    color: #fff;

    text-transform: none;
}

.hover-block h4 {
    padding-top: 10px;

    line-height: 22px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;

    color: #b3b3b3;

    text-transform: none;
}

.center-block {
    text-align: center;
}

.destinations__button {
    display: inline-block;


    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 22px;

    padding: 25px 40px 25px 40px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;

    margin-bottom: 80px;
}


/*-----Boat-----*/
.boat {
    width: 100%;

    background: url('../img/boat/boat.jpg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    color: #fff;
    text-align: center;

    padding: 185px 0px 80px 0px;
}

.boat h2 {
    line-height: 28px;
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    font-weight: 700;
}

.boat h3 {
    padding: 30px 0px 80px 0px;
    line-height: 22px;
    font-family: "Opensans", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.boat .center-block a {
    background-color: #e7434e;
    border: 1px solid #e7434e;
}



/*----FEATURED-BOATS-----*/
.featured-boats-list {
    overflow: hidden;
    margin-bottom: 70px;
}


.featured-boats-list__item {
    float: left;
    height: 360px;

    position: relative;

    width: 50%;
    margin-bottom: 30px;
    padding: 0 15px;

    overflow: hidden;

}


.featured-boats-list__item img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.hover-block {
    padding: 30px;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 5px;
}

.hover-block .info {
    padding-left: 25px;
}

.likes {
    margin: 0px 0px 0px 25px;
    padding: 10px 15px 10px 45px;


    line-height: 22px;
    font-family: "Opensans", sans-serif;
    font-size: 16px;
    font-weight: 700;

    border: none;

    border-radius: 5px;
    color: #fff;

    background: #e7434e url('../img/intro/find.png') no-repeat 17px 11px;
    text-transform: uppercase;
}

.hover-block .car {

    line-height: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 400;

    color: #fff;

    text-transform: none;
}

.hover-block .city {
    padding-left: 20px;
    padding-top: 10px;

    line-height: 22px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;

    color: #b3b3b3;

    text-transform: none;
    background: url('../img/featured-boats/marker.png') no-repeat 0px 11px;
}

.hover-block .count {
    margin-left: 20px;
    padding-left: 30px;
    padding-top: 10px;

    line-height: 22px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;

    color: #b3b3b3;

    text-transform: none;
    background: url('../img/featured-boats/contacts.png') no-repeat 0px 11px;
}

.flex {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.center-block {
    text-align: center;
}

.featured-boats-list__button {
    display: inline-block;


    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 22px;

    padding: 25px 40px 25px 40px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;

    margin-bottom: 80px;
}









/*------MEDIA-QUERIES------*/

@media(min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }

    .destinations-list__item {
        height: 290px;
    }

}

@media(min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }

    .destinations-list__item {
        width: 50%;
        height: 220px;
    }

    .destinations-list__item:nth-child(1) {
        width: 100%;
    }

}

@media(max-width: 767px) {
    .destinations-list__item, .destinations-list__item:nth-child(1) {
        width: 100%;
    }

    .destinations-list__item img {
        min-width: 100%;
        min-height: 100%;
        height: auto;
    }

    @media(min-width: 550px) {
        .destinations-list__item {
            width: 50%;
        }

    }
}